.backdrop {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;

  @include transition-base(opacity);
}
.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}
