.signup-form {
  @media screen and (min-width: 768px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 570px;
    display: flex;
    flex-wrap: wrap;
  }
}
.signup-form__text {
  display: block;
  width: 100%;
}
.signup-form__input {
  width: 100%;
  margin-bottom: 20px;
  height: 50px;
  padding: 15px 16px;

  font-weight: $font-light;
  font-size: $font-size-large;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: #ffffff;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;

  background-color: transparent;

  @include transition-base(border);

  &:focus {
    border: 1px solid #2196f3;
  }

  &::placeholder {
    font-weight: $font-light;
    font-size: $font-size-large;
    line-height: 1.25;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.signup-form__button {
  position: relative;
  width: 200px;
  height: 50px;

  padding-right: 62px;
  padding-left: 29px;
}
.signup-form__icon-send {
  position: absolute;
  top: 13px;
  right: 28px;
}
