// Colors

$color-main-text: #757575;
$color-secondary-text: #ffffff;
$color-third-text: #212121;
$color-accent: #2196f3;

$color-main-title: #ffffff;
$color-secondary-title: #212121;

$color-background: #ffffff;
$color-secondary-background: #f5f4fa;

// Fonts
// fonts base

$font-family: 'Roboto', sans-serif;

$font-size-base: 14px;
$font-size-large: 16px;
$font-size-extra: 44px;
$font-size-mobile: 26px;

// font-weight

$font-light: 400;
$font-normal: 500;
$font-bold: 700;
$font-extra-bold: 900;

// Shadows

$btn-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

// Margin

$margin-projects: 30px;
